

.App {
  text-align: center;
}

body {
  background-image: url('/public/Magic.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1.5em;
}

form {
  text-align: center;
  padding-top: 1.5rem;
}

select {
  color: black
}

* {
  font-family: 'MyFont', sans-serif;
  text-transform: uppercase;
  color: white;
}


@font-face {
  font-family: 'MyFont';
  src: url('/public/Roboto-Medium.ttf') format('truetype');
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  text-align: center;
  margin: 0 auto;
  padding-top: 1.5em;
}

.profile {
  display: grid;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}








